<div class="lyt-page-center flex-row" [@enter]>
  <img
    class="illustration"
    src="../../../../../assets/images/illustrations/magnifying-glass.png"
    alt=""
  />
  <header  class="lyt-page-center-content text-start">
    <h1 class="tp-headline-4">
      {{ 'pages.miscellaneous.notFound.headerTitle' | translate }}
    </h1>
    <p class="tp-body-1 text-light-dark mb-4">
      {{ 'pages.miscellaneous.notFound.headerMessage' | translate }}
    </p>
    <simpler-button routerLink="">{{
      'pages.miscellaneous.notFound.headerButton' | translate
    }}</simpler-button>
  </header>
</div>
