.app-container {
  height: 100%;

  display: flex;
  flex-direction: column;

  transition: var(--transition-duration-normal) margin-left ease;

  .app-content {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  simpler-navbar,
  simpler-audio-player {
    flex-shrink: 0;
  }
}
