<div class="lyt-page-center" [@enter]>
  <form
    class="mb-3 d-flex flex-column align-items-center"
    (ngSubmit)="onSubmit()"
    [formGroup]="formGroup"
  >
    <h1 class="tp-headline-4">
      {{ 'pages.auth.resetPassword.newPassword.headerTitle' | translate }}
    </h1>

    <p class="mw-fit-content mb-4 tp-body-1 color-light-dark">
      {{ 'pages.auth.resetPassword.newPassword.headerMessage' | translate }}
    </p>

    <simpler-input
      class="mb-4"
      (inputEnter)="onSubmit()"
      formControlName="password"
      name="password"
      type="password"
      [label]="
        'pages.auth.resetPassword.newPassword.passwordInput.label' | translate
      "
      [placeholder]="
        'pages.auth.resetPassword.newPassword.passwordInput.placeholder'
          | translate
      "
      [customErrorMessages]="{
        pattern: 'components.validationErrors.weak-password' | translate
      }"
      prefix="lock"
      prefixType="icon"
    ></simpler-input>

    <simpler-button
      [loading]="loading$ | async"
      class="w-100"
      type="submit"
      id="submit-button"
    >
      {{ 'pages.auth.resetPassword.newPassword.submitButton' | translate }}
    </simpler-button>
  </form>
</div>
