<div class="lyt-page-center flex-row" [@enter]>
  <img
    class="illustration me-6"
    src="../../../../../../../assets/images/illustrations/envelope.png"
    alt=""
  />
  <header class="lyt-page-center-content text-start">
    <h1 class="tp-headline-4">
      {{
        'pages.auth.resetPassword.resetPasswordConfirmPrompt.headerTitle' | translate
      }}
    </h1>
    <p class="tp-body-1 text-light-dark mb-4">
      {{
        'pages.auth.resetPassword.resetPasswordConfirmPrompt.headerMessage'
          | translate
      }}
    </p>
    <!-- <simpler-button routerLink="">{{
      'pages.auth.resetPassword.resetPasswordConfirmPrompt.headerButton' | translate
    }}</simpler-button> -->
  </header>
</div>
