<div class="lyt-page-center" [@enter]>
  <form
    class="mb-3 d-flex flex-column"
    (ngSubmit)="onSubmit()"
    [formGroup]="formGroup"
  >
    <h1 class="tp-headline-4">
      {{ 'pages.auth.resetPassword.headerTitle' | translate }}
    </h1>

    <p class="mw-fit-content mb-4 tp-body-1 color-light-dark">
      {{ 'pages.auth.resetPassword.headerMessage' | translate }}
    </p>

    <simpler-input
      class="mb-4"
      (inputEnter)="onSubmit()"
      formControlName="email"
      name="email"
      type="email"
      autocomplete="email"
      [label]="'pages.auth.resetPassword.emailInput.label' | translate"
      [placeholder]="
        'pages.auth.resetPassword.emailInput.placeholder' | translate
      "
      prefix="person"
      prefixType="icon"
    ></simpler-input>

    <simpler-button
      [loading]="loading$ | async"
      class="w-100"
      type="submit"
      id="submit-button"
    >
      {{ 'pages.auth.resetPassword.submitButton' | translate }}
    </simpler-button>
  </form>

  <simpler-button routerLink="/sign-in" appearance="transparent" color="light">
    {{ 'pages.auth.resetPassword.backButton' | translate }}
  </simpler-button>
</div>
