.file-cover {
  width: 200px;
  height: 200px;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  box-shadow: var(--shadow-large);
  background-color: var(--clr-dark-light);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
