<div class="modal-header">
  <h4 class="tp-headline-6">
    {{
      'pages.settings.pages.account.accountSettings.resetPasswordConfirmDialog.title'
        | translate
    }}
  </h4>
</div>

<div class="modal-body">
  <p>
    {{
      'pages.settings.pages.account.accountSettings.resetPasswordConfirmDialog.body'
        | translate
    }}
  </p>
</div>

<div class="modal-footer gap-3">
  <simpler-button (click)="close()" appearance="outline" color="light">
    {{ 'common.actions.cancel' | translate }}
  </simpler-button>
  <simpler-button (click)="confirm()">
    {{ 'common.actions.confirm' | translate }}
  </simpler-button>
</div>
